# ==========================================
# BASE DE DATOS (Supabase)
# ==========================================
# Nota: Asegúrate de agregar ?schema=public al final para que Prisma funcione correctamente
DATABASE_URL="postgresql://postgres:[63QU4PfaBm9wOrG5]@db.gxhfghdlbextkjjuirfs.supabase.co:5432/postgres?schema=public"

# ==========================================
# OTROS SERVICIOS (Puedes dejarlos así por ahora)
# ==========================================
REDIS_URL="redis://localhost:6379" # Lo configuraremos después o con Upstash
MEILISEARCH_URL="http://localhost:7700"
MEILISEARCH_KEY="masterKey"

NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"